
.vscode/
.azure/

#docker files
docker-compose.yml
docker-compose.debug.yml
.dockerignore

#ignore pyc
*#
#
*.sock
*.pyc
#ignore env dir
/env
# ds file
.DS_Store
# dabase
*.db
#script
db-reset-script.py

